.font-8 { font-size: 8px; }
.font-9 { font-size: 9px; }
.font-10 { font-size: 10px; }
.font-11 { font-size: 11px; }
.font-12 { font-size: 12px; }
.font-13 { font-size: 13px; }
.font-14 { font-size: 14px; }
.font-15 { font-size: 15px; }
.font-16 { font-size: 16px; }
.font-17 { font-size: 17px; }
.font-18 { font-size: 18px; }
.font-19 { font-size: 19px; }
.font-20 { font-size: 20px; }
.font-21 { font-size: 21px; }
.font-22 { font-size: 22px; }
.font-23 { font-size: 23px; }
.font-24 { font-size: 24px; }
.font-25 { font-size: 25px; }
.font-26 { font-size: 26px; }
.font-27 { font-size: 27px; }
.font-28 { font-size: 28px; }
.font-29 { font-size: 29px; }
.font-30 { font-size: 30px; }

.main-sidebar {
    background-image: url('../img/sidebar.jpg');
}

.main-sidebar:after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(6 30 95 / 50%);
    top: 0;
    left: 0;
    z-index: -9;
}

[class*=sidebar-light-] .sidebar p {
    color: white !important;
}

.info-box {
    min-height: 0 !important;
}

/* PARA PAGINACION */

.footable>tfoot .pagination {
    float: none !important;
    justify-content: center;
}

.input-icon {
    color: #191919;
    position: absolute;
    height: 28px;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

/* PARA TABLAS */

.table td, .table th {
    border-color: #f3f1f1;
    padding: 4px;
}

.table th, .table thead th {
    font-weight: 500
}

.table-hover tbody tr:hover {
    background: #f2f4f8
}

.table-responsive#prematuro {
    height: 345px;
    overflow: auto;
}

#prematuro thead tr th#patient{
    position: sticky;
    top: -1px;
    z-index: 10;
    background: #C6DEEF !important;
}

#prematuro thead tr th,
#prematuro_suple thead tr th,
#prematuro_nosuple thead tr th,
#tmzneo_observed thead tr th {
    position: sticky;
    top: -1px;
    z-index: 10;
    background: #68cccc !important;
}

#prematuro thead tr th#color_prematuro_head {
    background: #21596c !important;
    color: white;
}

#prematuro_nosuple thead tr th {
    background: #da8b8b !important;
}

#prematuro_nosuple thead tr th#color_prematuro_head {
    background: #b73b3b !important;
    color: white;
}

#prematuro_suple thead tr th {
    background: #85c185 !important;
}

#prematuro_suple thead tr th#color_prematuro_head {
    background: #466846 !important;
    color: white;
}

#prematuro_resume thead tr th {
    position: sticky;
    top: -1px;
    z-index: 10;
    background: #f6f6fb !important;
}

#prematuro_resume {
    height: 165px;
    overflow: auto;
}

